%estiloParrafo{
    font-family: sans-serif;
    font-size: $fontSizeGrande/3;
    line-height: 200%;
}
%estiloSubtitulo{
    color: $gris;
    font-size: $fontSizeGrande/2;
    font-family: serif;
    text-decoration: underline;
}