.header{
   padding: 10px;
   background-color: $negro;
   text-align: center;
   h1{
       color: $blanco;
       font-size: $fontSizeGrande;
   }
   h3{
       color: $amarillo;
       font-size: $fontSizeGrande/2;
   }
 
}